<% @photos_for_page.shuffle.each do |photo| %>
  <% photo_url = asset_url("photo_grid/#{photo.split("photo_grid/").last}") %>
  <div class="bg-rose-100 rounded-lg h-96 grayscale hover:greyscale bg-cover bg-center" style="background-image: url(<%= photo_url %>)"></div>
<% end %>
