<p><%= @question.text %></p>

<% @question.answers.shuffle.each do |answer| %>
  <form method="POST" action="/answer">
    <input type="hidden" name="answer_id" value="<%= answer.id %>">
    <button type="submit"><%= answer.text %></button>
  </form>
<% end %>

<p>This question is the <b><%= @question.category.title %></b> category.</p>
<p>It has a 50% success rate.</p>
