<header class="py-12 px-6 mx-auto max-w-2xl text-base leading-8">
  <%= render "svg/were_getting_married" %>
  <p class="pt-4">We’re so excited to celebrate our wedding day with you.</p>
  <p class="pt-4">You will find all the information you need about the day on this site. We'll be updating it and adding more information once we have it. Please don’t hesitate to send us a message if you’ve any other questions.</p>
  <p class="pt-4 pb-2">We cannot wait to share the day with you, and look forward to an amazing day.</p>
  <%= render "svg/mike_and_ciara" %>
</header>

<%= render "components/next_three_games" %>
<%= render "components/page_of_photos" %>
