<header class="py-12 px-6 mx-auto max-w-xl">
  <%= render "svg/rsvp" %>
  <div class="p-4 border border-stone-200 rounded-xl">
    <h3 class="mb-4 text-lg font-semibold text-stone-700">Whatsapp or Call</h3>
    <p class="mb-4">The easiest way to RSVP is to either call or text us.</p>
    <p class="mb-4">We'll ask, but please make sure to let us know if you've any special dietary requirements.</p>
    <p class="mb-4">You can reach us on:</p>
    <ul class="pl-6 list-disc">
      <li>Ciara: +353 86 456 4375</li>
      <li>Mike: +353 86 155 9823</li>
    </ul>
  </div>
</main>

<%= render "components/next_three_games" %>
<%= render "components/page_of_photos" %>
