<ul>
  <li><b>Quiz:</b> <%= @game.name %></li>
  <li><b>Session ID:</b> <%= @session_id %></li>
  <li>They got XX%, by getting X out of Y questions correct.</li>
  <li>This is the first quiz that they have completed.</li>
  <li>It's the X time that this quiz has been completed</li>
</ul>
<ul>
  <li>Question #1: Answer</li>
  <li>Question #2: Answer</li>
  <li>Question #3: Answer</li>
  <li>Question #4: Answer</li>
</ul>
